@media (max-width: 991px) {
// tab
  .header {
    height: 93px;
    &__left-block {
      min-width: 120px;
    }
    &__right-block {
      margin-right: -30px;
    }
    &__links {
      position: fixed;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0;
      left: -100%;
      width: 75%;
      height: 100vh;
      padding: 20px 15px;
      background-color: rgba($dark, .8);
      transition: 0.6s all;
      z-index: 5;
      &_active {
        left: 0;
      }
    }
    &__link {
      margin: 35px auto;
      font-size: 22px;
      color: #fff;
      &:after {
        display: none;
      }
      &:first-child {
        margin-top: -35px;
      }
      &:last-child{
        margin: 35px auto;
      }
    }
    .btn {
      margin-right: -20px;
    }
  }
}

@media (max-width: 575px) {
  .header {
    flex-direction: column;
    height: auto;
    // padding: 55px 0;
    &__logo {
      margin: 0 auto;
      margin-top: 5px;
      // margin-left: -25px;
    }
    &__left-block {
      margin: 17px;
    }
    &__right-block {
      margin-top: 35px;
      width: 208px;
      margin-right: 0;
    }
  }
  .btn {
    margin-right: 0px;
    margin-bottom: 55px;
    // margin: 0 auto;
  }
}